In [64]:
import pandas as pd

In [80]:
df = pd.read_excel("Data Set/Superstore.xls")

In [81]:
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136

### Pandas Data Analytics:

https://www.youtube.com/playlist?list=PLWuFHho1zKhUJpe9WfSyvrrQrzqDErbmv

In [35]:
# how many rows and columns we have?

In [36]:
df.shape

(9994, 21)

In [37]:
print("Number of rows: ", df.shape[0])

Number of rows:  9994

In [38]:
print("Number of rows: ", df.shape[-1])

Number of rows:  21

In [39]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [40]:
df.keys()

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [41]:
print(df.columns.to_list())

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [42]:
df[["Customer ID","Customer Name","Row ID"]].to_excel("Judecia.xlsx", index = False)

In [43]:
fav_columns = ["Region","Segment","Customer Name","Sales","Profit"]

In [22]:
type(df[fav_columns])

pandas.core.frame.DataFrame

In [25]:
df[fav_columns].to_excel("Judecia1.xlsx")

In [28]:
# object -> string

In [44]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [82]:
df.columns = df.columns.str.lower().str.replace(" ","_")

In [46]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

### can you display data type of each column

In [47]:
df.dtypes

row_id                    int64
order_id                 object
order_date       datetime64[ns]
ship_date        datetime64[ns]
ship_mode                object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postal_code               int64
region                   object
product_id               object
category                 object
sub-category             object
product_name             object
sales                   float64
quantity                  int64
discount                float64
profit                  float64
dtype: object

In [48]:
df1 = pd.DataFrame({"EmpID": [101,102,103],"Salary":[2000,3000,4000]})

In [49]:
df1.head()

   EmpID  Salary
0    101    2000
1    102    3000
2    103    4000

In [50]:
df1.dtypes

EmpID     int64
Salary    int64
dtype: object

In [54]:
# give me more info

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   datetime64[ns]
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub-category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [56]:
df.head(2)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [57]:
df["row_id"].dtypes

dtype('int64')

In [67]:
# df.row_id.iloc[0] = "A"

In [68]:
df["row_id"].dtypes

dtype('int64')

In [70]:
sum(df.row_id)

49945015

In [83]:
df[["category","segment"]].dtypes

category    object
segment     object
dtype: object

In [84]:
df["order_date"].dtypes

dtype('<M8[ns]')

In [85]:
df[["order_date","ship_date"]].dtypes

order_date    datetime64[ns]
ship_date     datetime64[ns]
dtype: object

In [86]:
df["category"].dtypes

dtype('O')

In [88]:
df.head(2)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [91]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [89]:
df["ship_mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [96]:
print(sorted(df["sub-category"].unique()))

['Accessories', 'Appliances', 'Art', 'Binders', 'Bookcases', 'Chairs', 'Copiers', 'Envelopes', 'Fasteners', 'Furnishings', 'Labels', 'Machines', 'Paper', 'Phones', 'Storage', 'Supplies', 'Tables']

In [92]:
df.to_excel("testing.xlsx",index=False)

In [97]:
# Summary Statistics

In [100]:
# df.describe(include='all')

In [101]:
df[["sales","profit","discount","quantity"]].describe()

              sales       profit     discount     quantity
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001    28.656896     0.156203     3.789574
std      623.245101   234.260108     0.206452     2.225110
min        0.444000 -6599.978000     0.000000     1.000000
25%       17.280000     1.728750     0.000000     2.000000
50%       54.490000     8.666500     0.200000     3.000000
75%      209.940000    29.364000     0.200000     5.000000
max    22638.480000  8399.976000     0.800000    14.000000

In [103]:
# Save a brand new excel based on different types of sub-categories

In [104]:
df["sub-category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [108]:
# tell me the count of each sub-categories

In [112]:
df["sub-category"].value_counts(ascending=True).reset_index() # by default ascending=False

   sub-category  count
0       Copiers     68
1      Machines    115
2      Supplies    190
3     Fasteners    217
4     Bookcases    228
5     Envelopes    254
6        Tables    319
7        Labels    364
8    Appliances    466
9        Chairs    617
10  Accessories    775
11          Art    796
12      Storage    846
13       Phones    889
14  Furnishings    957
15        Paper   1370
16      Binders   1523

In [113]:
df["sub-category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [114]:
len(df["sub-category"].unique())

17

In [115]:
df["sub-category"].nunique()

17

In [117]:
for sub in df["sub-category"].unique():
    print(sub)
    break

Bookcases

In [ ]:
# creating a new dataframe using clipboard

In [118]:
newdf = pd.read_clipboard()

In [124]:
newdf.head()

  region         category sub-category     sales  quantity  discount    profit
0  South        Furniture    Bookcases  261.9600         2      0.00   41.9136
1  South        Furniture       Chairs  731.9400         3      0.00  219.5820
2   West  Office Supplies       Labels   14.6200         2      0.00    6.8714
3  South        Furniture       Tables  957.5775         5      0.45 -383.0310
4  South  Office Supplies      Storage   22.3680         2      0.20    2.5164

In [121]:
newdf["category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [122]:
newdf["category"] == "Furniture"

0      True
1      True
2     False
3      True
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
Name: category, dtype: bool

In [ ]:
# True - > 1
# False -> 0

In [125]:
sum(newdf["category"] == "Furniture")

5

In [128]:
newdf[newdf["category"] == "Furniture"].to_excel("Furniture.xlsx",index=False)

In [129]:
# jump on main df

In [130]:
df["sub-category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [132]:
sum(df["sub-category"] == 'Bookcases')

228

In [137]:
for sub in df["sub-category"].unique():
    df[df["sub-category"] == sub].to_excel(sub + ".xlsx", index = False)

In [144]:
%%time
for state in df["state"].unique():
    df[df["state"] == state].to_csv(state + ".csv", index=False)

CPU times: total: 359 ms
Wall time: 354 ms

# Note:

Pandas is very fast on csv format.

In [142]:
%%time
for state in df["state"].unique():
    df[df["state"] == state].to_excel(state + ".xlsx", index=False)

CPU times: total: 8.61 s
Wall time: 10.8 s